<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="lk.cn.com.newbanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".APPContext"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BannerActivity" android:label="Banner">

            <!--多个LAUNCHER可以有多个入口-->
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".AppBarActivity"/>
        <activity android:name=".RippleActivity" />
        <activity android:name=".behavior.BehaviorActivity"/>
        <activity android:name=".alarm.AlarmActivity"/>
        <activity android:name=".immersive.ThemeActivity"/>
        <activity
            android:name=".immersive.AppThemeActivity"
            android:label="AppThemeActivity"
            android:theme="@style/StyleTheme"/>
        <activity android:name=".immersive.StateBarActivity"/>

    </application>

</manifest>